.header {
  height: 4rem;
  display: flex;
  justify-content: center;

}

.logoContainer {
  display: flex;
  gap: .875rem;
}

.logo {
  height: 4rem;
}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}

.themeBlue {
  color: #079DD8
}

.themeGreen {
  color: #63B34F;
}

.mapContainer {
  height: 650px;
  width: 1200px;
}

